//
   Created by uma92 on 2017/02/18.

- var twitter_text = "";
- var twitter = {tag:"",text:""};
- var shortenurl = "";
- var lang = 'jp';
- var url = "";

- var meta = {title:"",description:"",keyword:"",description_en:"",keyword_en:"Keyword",oggimage:"img/ogp.jpg",url:"",favivon:"/img/favicon.ico"}
